<html>

<head>
    <title>Book Table</title>
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script language="javascript" type="text/javascript">
        let token = localStorage.getItem('mytoken');
        $(document).ready(function () {

            //to perform logout event


            //to perform back event
            $("#back").click(function () {
                $.ajax({
                    url: "/token",
                    type: 'get',
                    headers: {
                        "token": token
                    },
                    success: function (data) {
                        console.log("views");
                        $('html').html(data);
                    },
                    error: function (err) {
                        console.log("error");
                        console.log(token);
                    }
                })
            })
            //to perform two seater(table) event
            $("#2").click(function () {
                var seat = {}
                seat.seat = 2;
                seat.date = $("#date1").val();
                console.log($("#date").val())
                console.log(seat);
                $.ajax({
                    url: "/booking",
                    type: 'post',
                    data: seat,
                    headers: {
                        "token": token
                    },
                    success: function (data) {
                        if (data.success == false) {
                            alert("Sorry seat not available");
                            $.ajax({
                                url: "/book",
                                type: 'get',
                                headers: {
                                    "token": token
                                },
                                success: function (data) {

                                    $("html").html(data);
                                },
                                error: function (err) {
                                    console.log("error");
                                    console.log(token);
                                }
                            })
                        }
                        $('html').html(data);
                    }
                })
            })
            //to perform four seater(table) event
            $("#4").click(function () {
                var seat = {}
                seat.seat = 4;
                seat.date = $("#date1").val();
                $.ajax({
                    url: "/booking",
                    type: 'post',
                    data: seat,
                    headers: {
                        "token": token
                    },
                    success: function (data) {
                        if (data.success == false) {
                            alert("Sorry seat not available");
                            $.ajax({
                                url: "/book",
                                type: 'get',
                                headers: {
                                    "token": token
                                },
                                success: function (data) {

                                    $("html").html(data);
                                },
                                error: function (err) {
                                    console.log("error");
                                    console.log(token);
                                }
                            })
                        }
                        $("html").html(data);
                    }
                })
            })
            //to perform two seater(table) event
            $("#6").click(function () {
                var seat = {}
                seat.seat = 6;
                seat.date = $("#date1").val();
                $.ajax({
                    url: "/booking",
                    type: 'post',
                    data: seat,
                    headers: {
                        "token": token
                    },

                    success: function (data) {
                        if (data.success == false) {
                            alert("Sorry seat not available");
                            $.ajax({
                                url: "/book",
                                type: 'get',
                                headers: {
                                    "token": token
                                },
                                success: function (data) {

                                    $("html").html(data);
                                },
                                error: function (err) {
                                    console.log("error");
                                    console.log(token);
                                }
                            })
                        }
                        $("html").html(data);
                    }
                })
            })
            //to perform ten seater(table) event
            $("#10").click(function () {
                var seat = {}
                seat.seat = 10;
                seat.date = $("#date1").val();
                $.ajax({
                    url: "/booking",
                    type: 'post',
                    data: seat,
                    headers: {
                        "token": token
                    },
                    success: function (data) {
                        if (data.success == false) {
                            alert("Sorry seat not available");
                            $.ajax({
                                url: "/book",
                                type: 'get',
                                headers: {
                                    "token": token
                                },
                                success: function (data) {

                                    $("html").html(data);
                                },
                                error: function (err) {
                                    console.log("error");
                                    console.log(token);
                                }
                            })
                        }
                        $("html").html(data);
                    }
                })
            })
            //to enable button after picking date 
            var currentDate = new Date();

            var month = currentDate.getUTCMonth() + 1; //months from 1-12
            var day = currentDate.getUTCDate();
            var year = currentDate.getUTCFullYear();

            newdate = year + "-" + month + "-" + day;
            document.getElementById("date1").min = newdate;
            $('input[type=date]').change(function () {

                let date = $('input[type=date]').val()
                console.log(currentDate, " ", date);
                if ($('input[type=date]').val() == '') {


                    $('button').attr('disabled', true)
                }
                else {
                    $('button').attr('disabled', false);
                }
            })
            //to dispaly the booking details of logged user
            $("#viewdetail").click(function () {
                $.ajax({
                    url: "/viewdetails",
                    type: 'get',
                    headers: {
                        "token": token
                    },
                    success: function (data) {
                        console.log("views");
                        $('html').html(data);
                    },
                    error: function (err) {
                        console.log("error");
                        console.log(token);
                    }
                })
            })
        })
        function mylogout() {
            let log = confirm("Do you want to logout?");
            if (log) {
                localStorage.removeItem('mytoken');
                window.location.href = "/home";
            }
        }

    </script>

    </script>
    <style>
        .dd{
               font-family: Arial, Helvetica, sans-serif;
               height:100%;
               width:100%;
               background-image: url("https://images.alphacoders.com/439/thumb-1920-439191.jpg");
               background-repeat: no-repeat;
               background-size: cover
            } 
        div{
                border:5px;
                padding:20px;
        }
        
        .button {
                background-color: rgb(220, 43, 20);
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
  /* width: 50%; */
}
    </style>
</head>

<body>
    <div class="dd">
        <form>
            <br>
            <!-- logout and back button -->
            <div style="text-align: right">
                <button type="button" onclick="mylogout()" class=" btn btn-danger " id="logout">Logout</button>
                <input type="button" class=" btn btn-danger" value="Back" id="back">
            </div>

            <center>
                <!--date picker  -->
                <div class="container">
                    <input type="date" value=" date" name="date" id="date1" class="dat" required>
                    <br>

                    <br>
                    <!-- different tables 2,4,6,10 seater -->
                    <button type="button" class="btn btn-danger" class="btn btn-primary" id="2" style="text-align: left; align-content :right"
                        disabled>Two seater table</button>

                    <button type="button" class="btn btn-danger " style="text-align: left; align-content :right " id="4"
                        disabled>Four seater table</button>


                    <button type="button" class="btn btn-danger" style="text-align: left; align-content : left" id="6"
                        disabled>Six seater table</button>


                    <button type="button" class="btn btn-danger " style="text-align: left; align-content : right" id="10"
                        disabled>Ten seater table</button>

                    <div style="margin-top: 50px">
                        <input type="button" class="button button2" value="View Details" id="viewdetail">
                    </div>
            </center>
        </form>
    </div>
    </div>
</body>

</html>