<html>

<head>
  <title>Confirmation</title>
  <link href="stylesheets/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
  </script>
  <script language="javascript" type="text/javascript">
    let token = localStorage.getItem('mytoken');
    $(document).ready(function () {
      //to perform back event
      $("#back").click(function () {
        $.ajax({
          url: "/book",
          type: 'get',
          headers: {
            "token": token
          },
          success: function (data) {

            $('html').html(data);
          },
          error: function (err) {
            console.log("error");
            console.log(token);
          }
        })
      })

      // to perform view details event
      $("#viewdetail").click(function () {
        $.ajax({
          url: "/viewdetails",
          type: 'get',
          headers: {
            "token": token
          },
          success: function (data) {

            $('html').html(data);
          },
          error: function (err) {
            console.log("error");
            console.log(token);
          }
        })
      })
    })
    function mylogout() {
      let log = confirm("Do you want to logout?");
      if (log) {
        localStorage.removeItem('mytoken');
        window.location.href = "/home";
      }
    }
  </script>

  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="dd">
    <form>
      <br>
      <!--logout and back button  -->
      <div style="text-align: right">
        <button type="button" onclick="mylogout()" class=" btn btn-danger " id="logout">Logout</button>
        <input type="button" class=" btn btn-danger" value="Back" id="back">
      </div>

      <center>
        <div>
          <h1 style="color:peru;">Welcome to The Gateway Hotel</h1>
          <h2 style="color:aliceblue;">Your booking is confirmed</h2>

        </div>
      </center>
      <!-- view details button -->
      <div style="text-align: center">
        <input type="button" class="button button2" value="View Details" id="viewdetail">
      </div>
  </div>
  </form>
</body>

</html>